#nav{
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  transition: 1s;
  overflow: hidden;
}

#hamburger{
  position: fixed;
  display: block;
  top: 10px;
  left: 30px;
  width: 50px;
  height: 44px;
  transition: 1s;
  z-index: 100;
}

.line{
  position: absolute;
  display: block;
  left: 15px;
  width: 50px;
  height: 3px;
  background-color: black;
  transition: 1s;
}

#line1{
  top: 0px;
}

#line2{
  top: 20px;
}

#line3{
  top: 40px;
}

.in{
  transform: translateY(100%);
}

.line_1{
  transform: translateY(20px) rotate(-45deg);
  top:0;
}

.line_2{
  opacity: 0;
}

.line_3{
  transform: translateY(-20px) rotate(45deg);
  top:40px;
}