body{
  background-color: rgba(0,0,0,0.2);
}
#nav{
 position: absolute;
 height: 100vh;
 width: 40%;
 left: -40%;
 top: 0;
 background: #ffffff;
 transition: .7s;
}
#nav ul{
 padding-top: 80px;
}
#nav ul li{
 list-style-type: none;
}
#hamburger {

 position: absolute;
 top: 20px;
 left: 30px;
 width: 50px;
 height: 44px;
 transition: 1s;
}
.inner_line {
 display: block;
 position: absolute;
 left: 0;
 width: 50px;
 height: 3px;
 background-color: #000000;
 transition: 1s;
 border-radius: 4px;
}
#line1 {
 top: 0;
}
#line2 {
 top: 20px;
}
#line3 {
 bottom: 0px;
}

.in{
  transform: translateX(100%);
 }
.line_1,.line_2,.line_3{
 background: #000000;
}
.line_1 {
 transform: translateY(20px) rotate(-45deg);
 top: 0;
}
.line_2 {
 opacity: 0;
}
.line_3 {
 transform: translateY(-20px) rotate(45deg);
 bottom: 0;
}